
# Data
/data/*
!/data/raw_ECB_policy_accounts.rds
!/data/raw_QandAs_Jan.rds
!/data/raw_statements_Jan.rds

# Output
*.html

# Quarto
/scraping/Jan_scraping_accounts_files
/scraping/Jan_scraping_statements_QAs_files
/Jan_first_dictionary_index_files
/Jan_prepare_textual_data_for_index_files
/indicators/Jan_first_dictionary_index_files
*/bootstrap/*
*/clipboard/*
*/quarto-html/*
